.nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
    padding-top: 0.6rem;
  }
  
  .navbar li{
    margin-left: 4rem;
    list-style-type: none;
    color: gray;
    font-weight: 500;
  }
  
  .home{
    color: rgb(34, 166, 166) !important;
    font-weight: 500;
  }
  
  .design span{
    color: aquamarine;
  }
  
  .border-1{
    border-top: 1px solid aquamarine;
    width: 91%;
    margin: 0 auto;
    border-width: 2px;
  }
  
  .border-2{
    border-top: 1px solid aquamarine;
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: 1.5px;
    border-width: 2px;
  }

  .header{
    padding-inline: 1rem;
    margin-bottom: 3rem;
  }

  .fa-solid{
    display: none;
  }


  @media only screen and (max-width: 770px){
    .navbar li{
      display: none;
    }

    .fa-solid{
      display: block;
      position: relative;
      left: 3rem;
    }
  
  }